RewriteCond %{QUERY_STRING} ^(.*)FIF=/data/iip-data/(.*)\.jp2&HEI=128&CVT=jpeg$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://127.0.0.1:18082/iiif/3/%2.jp2/full/,128/0/default.jpg? [R,L]

RewriteCond %{QUERY_STRING} ^(.*)FIF=/data/iip-data/(.*)\.jp2&HEI=700&CVT=jpeg$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://127.0.0.1:18082/iiif/3/%2.jp2/full/,700/0/default.jpg? [R,L]

RewriteCond %{QUERY_STRING} ^(.*)FIF=/data/iip-data/(.*)\.jp2&WID=999999&CVT=jpeg$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://127.0.0.1:18082/iiif/3/%2.jp2/full/max/0/default.jpg? [R,L]

RewriteCond %{QUERY_STRING} ^(.*)FIF=/data/iip-data/(.*)\.jp2&CVT=jpeg$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://127.0.0.1:18082/iiif/3/%2.jp2/full/max/0/default.jpg? [R,L]

RewriteCond %{QUERY_STRING} ^(.*)Zoomify=/data/iip-data/(.*)\.jp2/ImageProperties.xml$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2/ImageProperties.xml [R,L]

RewriteCond %{QUERY_STRING} ^(.*)iiif=/data/iip-data/(.*)\.jp2/info.json$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://127.0.0.1:18082/iiif/3/%2.jp2/info.json [R,L]

RewriteCond %{QUERY_STRING} ^(.*)Zoomify=/data/iip-data/(.*)\.jp2(.*)$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://imageserver.xyz.cz/%2%3 [R,L]

RewriteCond %{QUERY_STRING} ^(.*)iiif=/data/iip-data/(.*)\.jp2(.*)$
RewriteRule ^/fcgi-bin/iipsrv.fcgi$ http://127.0.0.1:18082/iiif/3/%2.jp2%3 [R,L]